<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Справка | М-Банк</title>
    <link rel="icon" href="/static/Assets/Icons/Favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
</head>
<body class="info-body">
<h3>Справка</h3>
<div class="info-text-block">
    Это программа для электронного обмена деньгами в игре Монополия. Как переводы в Сбербанк Онлайн, только в Монополии.<br>
    Если вы только начинаете игру, авторизуйтесь в игре путем ввода своего имени и секретного слова. Пароль не нужен, его заменяет секретное слово.<br>
    Зачем оно нужно? На то несколько причин:
    <ol>
        <li>Нет смысла создавать вам постоянную учетку. Учетка создается каждый раз новая для каждой новой игры. Пароль - это слишком сложно, он должен соответствовать требованиям безопасности. Секретное слово может быть любым удобным для вас.</li>
        <li>Все игроки видят ваше имя. Не будь секретного слова, они могли бы просто зайти в М-Банк под вашим именем и перевести себе все ваши деньги. Финансовые мошенничества - дело серьезное.</li>
        <li>Если вас каким-то образом выкинуло из сайта, вы можете зайти обратно, введя свое имя и секретное слово, даже с другого устройства.</li>
    </ol>
</div>
<h2>F.A.Q.</h2>
<div class="info-text-block">
    <h4>Вопрос: мы начали новую игру, а в приложении данные от старой игры, что делать?</h4>
    Ответ: в директории, где вы запускали сайт, удалите файл базы данных (monopoly_cashier.db) и перезапустите сайт
    <h4>Вопрос: как определяется кто банкир?</h4>
    Ответ: банкиром становится первый вошедший в приложение игрок. Только ему доступны переводы из банка, помимо собственных
</div>
<a href="/" class="link-to-mainpage">На главную</a>
</body>
</html>