<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Справка | М-Банк</title>
    <link rel="icon" href="/static/Assets/Icons/Favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles.css?v=responsive-1">
</head>
<body class="info-body">
<h3>Справка</h3>
<div class="info-text-block">
    Это программа для электронного обмена деньгами в игре Монополия. Как переводы в Сбербанк Онлайн, только в Монополии.<br>
    При первом входе укажите своё имя и придумайте пароль — аккаунт создастся автоматически.<br>
    Для повторного входа, в том числе с другого телефона, используйте то же имя и пароль.<br>
    Пароль нужен, чтобы другие игроки не могли войти в ваш аккаунт и распоряжаться вашим балансом.
</div>
<h2>F.A.Q.</h2>
<div class="info-text-block">
    <h4>Вопрос: мы начали новую игру, а в приложении данные от старой игры, что делать?</h4>
    Ответ: в директории, где вы запускали сайт, удалите файл базы данных (monopoly_cashier.db) и перезапустите сайт
    <h4>Вопрос: как определяется кто банкир?</h4>
    Ответ: банкиром становится первый вошедший в приложение игрок. Только ему доступны переводы из банка, помимо собственных
</div>
<a href="/" class="link-to-mainpage">На главную</a>
</body>
</html>